.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.search-form {
  width: 100%;
  margin-bottom: 20px;
}

.search-props {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
  justify-content: space-between;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.width-full {
  width: 100%;
}
